/* fonte personalizada */
@font-face {
  font-family: Tommy-B;
  src: url(font/Tommy/Tommy-bold.otf) format('opentype');
  font-style: bold;
}

@font-face {
  font-family: CrazyKiller;
  src: url(font/Crazy-Killer/Crazy-Killer.TTF) format('truetype');
  text-decoration: none;

}

.ibm-plex-mono-regular {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-style: normal;
}


.cinzel {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* reset na pagina */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-family: "TOmmy-B";
}

/*Header*/
header{
    width: 100%;
    display: flex;
    padding: 2%;
    justify-content: space-between; /*Espaçamento*/
    background-color: rgb(20, 20, 20);
    height: 70px;
    align-items: center; /* alinhar na vertical*/
    position: top; /* se deixar fixo o bg do hero fica atras*/
    border-bottom: 1px solid rgba(114, 114, 114, 0.45); /*Espessura e cor da margem de baixo */
    z-index: 50; /*Posição no eixo Z*/
    
    ul{
        display: flex;
        gap: 25px;
        list-style-type: none;
        background-color: rgb(255, 255, 255, 0.1);
        padding: 16px 20px;
        border-radius: 12px;
        backdrop-filter: blur(20px);
    }
}

.logo{
    height: 69px;
    filter: saturate(0);
    filter: brightness(100);
}

.hero{
  width: 100dvw; /*Largura da seção*/
  display: flex;
  flex-direction: row; /* Eixo principal*/
  justify-content: center; /* distribuição eixo principal*/
  align-items: end;
  
  background: url(/assets/img/bg/bg-faded.jpg);
  background-repeat: no-repeat;
  background-size: cover; /*Ocupa toda a capa*/
  background-position: top; /*Caso corte, mantem alinhado pelo topo*/
  height: 1080px; /*Altura*/

  /* Aplica o fade de todas as direções para dentro */
  mask-image: radial-gradient(circle, rgb(0, 0, 0) 75%/* avanço do faded dentro da img*/, transparent 100%);
    /* Ajustar a posição e tamanho da máscara */
  -webkit-mask-size: 100% 100%;
  mask-size: 5% /*quantidade de vzs que repete*/100%;

 .logo-hero{
    height: 350px;
    filter: invert();
    z-index: 5;
  } 
}

.container-2{
  

  .container-2-texto{
    font-family: "IBM Plex Mono";
    text-align: center;
    padding: 0% 15%;
    font-size: 14px;
  }

  .container-2-titulo{
    font-family: "Cinzel";
    text-align: center;
    padding: 0% 10%;
    font-size: 50px;
  }
}

.video-passiva{
  height: 300px;
}

.video-Q{
  height: 300px;
}

.video-W{
  height: 300px;
}

.video-E{
  height: 300px;
}

.video-R{
  height: 300px;
}
