/* reset na pagina */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex-container{
background-color: blue;
width: 100%;
}

.flex-item{
    width: 200px;
    height: 200px;
    background-color: pink;
}